<p>Mon message de confirmation</p>

<p>Bonjour {{ user.firstname }} {{ user.lastname }}, votre inscription est réussie ! <p>
<p>adresse mail : {{ mail }}</p>

<p>
    Vous pouvez maintenant vous connecter sur notre <a href="http://127.0.0.1:8000/home/info">Mon site</a> !
</p>